#mc_embed_signup {
  display: none;
  background: #fff;
  clear: left;
  font: 14px;
  position: absolute;
  bottom: 0;

  @include breakpoint($large) {
    display: block;
  }
}

#mc_embed_signup_mobile {
  display: block;
  background: #fff;
  clear: left;
  font: 14px;

  @include breakpoint($large) {
    display: none;
  }
}

#mc_embed_signup form {
  padding: 0 !important;
}

#mc-embedded-subscribe-form {
  background: #fff;
}

#mc-embedded-subscribe {
  background-color: #FC561E !important;
  color: #fff;
  width: 100%;
  line-height: 2em;
  text-align: center;
}

#mce-EMAIL {
  width: 100% !important;
}
